@using Seller.Utils
@using ViewRes
@model Seller.Models.Product

@{
    ViewBag.Title = Localization.Create;
}

<h2>@Localization.Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

@using (Html.BeginForm("Create", "ProductManager", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Localization.Product</legend>

        <div class="editor-label">
            @Localization.Category
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>) ViewBag.CategoryID, Helper.EmptySelectItem)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Localization.Producer
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProducerId, (IEnumerable<SelectListItem>) ViewBag.ProducerID, Helper.EmptySelectItem)
            @Html.ValidationMessageFor(model => model.ProducerId)
        </div>

        <div class="editor-label">
            @Localization.Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name, new {@class = "productNameInput"})
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Localization.Description
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new {@class = "descriptionInput"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        @Html.Partial("ImagesEditor", Model.Images)

        <p class="clear">
            <button name="submitButton" type="submit" value="Create">@Localization.Create</button>
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink(Localization.Back_to_products, "RedirectedBack", "Products")
</div>