@using Seller.Models
@using ViewRes
@model Seller.Models.Product

@{
    ViewBag.Title = Localization.Delete;
}

<h2>@Localization.Delete</h2>

<h3>@Localization.SureDeleteProduct</h3>
<fieldset>
    <legend>@Localization.Product</legend>

    <div class="display-label">@Localization.Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">@Localization.Producer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Producer.Name)
    </div>

    <div class="display-label">@Localization.Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Localization.Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    @foreach (Image a in Model.Images)
    {
        <img alt="@Localization.Image" src="/Content/Images/Products/@a.Path" class="gallery" />
    }

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Localization.Delete" /> |
        @Html.ActionLink(Localization.Back_to_products, "RedirectedBack", "Products")
    </p>
}
