@using Seller.Models
@model Seller.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

@using (Html.BeginForm("Edit", "ProductManager", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Product</legend>
        
        @Html.HiddenFor(model => model.Approved)
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.CreatedBy)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId")
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProducerId, "Producer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProducerId")
            @Html.ValidationMessageFor(model => model.ProducerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new {id = "productNameInput"})
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new {@class = "descriptionInput"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        @Html.Partial("ImagesEditor", Model.Images)

        <p class="clear">
            <input name="submitButton" type="submit" value="Save" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "RedirectedBack", "Products")
</div>