@using Seller.Models
@using ViewRes
@model Seller.Models.Product

@{
    ViewBag.Title = Localization.Edit;
}

<h2>@Localization.Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

@using (Html.BeginForm("Edit", "ProductManager", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Localization.Product</legend>
        
        @Html.HiddenFor(model => model.Approved)
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.CreatedBy)

        <div class="editor-label">
            @Localization.Category
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId")
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Localization.Producer
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProducerId")
            @Html.ValidationMessageFor(model => model.ProducerId)
        </div>

        <div class="editor-label">
            @Localization.Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new {id = "productNameInput"})
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Localization.Description
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new {@class = "descriptionInput"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        @Html.Partial("ImagesEditor", Model.Images)

        <p class="clear">
            <button name="submitButton" type="submit" value="Save">@Localization.Save</button>
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink(Localization.Back_to_products, "RedirectedBack", "Products")
</div>