@using ViewRes
@model string
@{
    ViewBag.Title = Localization.BrowseRole;
}

<h2>@Localization.Users_in_role @Model</h2>

@using (Html.BeginForm("RemoveChecked","Roles"))
{
    <input type="hidden" name="role" value="@Model" />

    <ul>
        @foreach (string user in @Roles.GetUsersInRole(Model))
        {
            <li><input type="checkbox" name="selectedUsers" value="@user" /> @user</li>
        }
    </ul>
    <input type="button" onclick="location.href='/Roles'" value="@Localization.Back_to_index" /> <input type="submit" value="@Localization.Delete" />
}
