@model string
@{
    ViewBag.Title = "BrowseRole";
}

<h2>Users in role @Model</h2>

@using (Html.BeginForm("RemoveChecked","Roles"))
{
    <input type="hidden" name="role" value="@Model" />

    <ul>
        @foreach (string user in @Roles.GetUsersInRole(Model))
        {
            <li><input type="checkbox" name="selectedUsers" value="@user" /> @user</li>
        }
    </ul>
    <input type="button" onclick="location.href='/Roles'" value="To index" /> <input type="submit" value="Remove" />
}
