@using ViewRes
@{
    ViewBag.Title = Localization.Index;
}

<h2>@Localization.Roles_select</h2>
@{
    string[] roles = Roles.GetAllRoles();
    foreach (string role in @roles)
    {
        <div class="gallery">@Html.ActionLink(role, "BrowseRole", new {role})</div>
    }
    <br/>
}

<h2 class="clear">@Localization.User_select</h2>

<div>@Localization.Total_users: @ViewBag.TotalUsers</div>
<ul>
    @foreach (MembershipUser user in @ViewBag.Users)
    {
        <li>@Html.ActionLink(user.UserName, "UserDetails", new {user = user.ProviderUserKey})</li>
    }
</ul>

<div>
    @Localization.Page @(ViewBag.PageCount < ViewBag.PageNumber ? 0 : ViewBag.PageNumber)
    @Localization.of @ViewBag.PageCount
     
    @if (ViewBag.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new {page = 1, pageSize = ViewBag.PageSize})
        @Html.Raw(" ")
        ;
        @Html.ActionLink("< " + Localization.Previous, "Index", new {page = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize})
    }
    else
    {
        @:<<
        @Html.Raw(" ")
        ;
        @:< @Localization.Previous
    }
     
    @if (ViewBag.HasNextPage)
    {
        @Html.ActionLink(Localization.Next + " >", "Index", new {page = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize})
        @Html.Raw(" ")
        ;
        @Html.ActionLink(">>", "Index", new {page = ViewBag.PageCount, pageSize = ViewBag.PageSize})
    }
    else
    {
        @Localization.Next
        @:>
        @Html.Raw(" ")
        @:>>
    }
</div>
<div>
    <p>@Localization.Users_per_page:
        @Html.ActionLink("5", "Index", new {pageSize = 5})
        @Html.ActionLink("10", "Index", new {pageSize = 10})
        @Html.ActionLink("20", "Index", new {pageSize = 20})
        @Html.ActionLink("50", "Index", new {pageSize = 50})
        @Html.ActionLink(Localization.All, "Index", new {pageSize = 0})</p>
</div>