@using Seller.Models
@using ViewRes
@model IEnumerable<Seller.Models.Offer>

@{
    ViewBag.Title = Localization.Index;
}

<h2>@Localization.Index</h2>

<table>
    <tr>
        <th>
            @Localization.Product
        </th>
        <th>
            @Localization.Shop
        </th>
        <th>
            @Localization.Price
        </th>
        <th>
            @Localization.Last_update
        </th>
        <th></th>
    </tr>

    @foreach (Offer item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.ActionLink(Localization.Delete, "Delete", new {shopId = item.ShopId, productId = item.ProductId})    
            </td>
        </tr>
    }

</table>