@using ViewRes
@model IEnumerable<Seller.Models.Shop>

@{
    ViewBag.Title = Localization.Index;
}

<h2>@Localization.Index</h2>

<p>
    @Html.ActionLink(Localization.Create_New, "Create")
</p>
<table>
    <tr>
        <th>
            @Localization.Name
        </th>
        <th>
            @Localization.Site
        </th>
        <th>
            @Localization.Phone
        </th>
        <th>
            @Localization.Address
        </th>
        <th>
            @Localization.Description
        </th>
        <th>
            @Localization.Email
        </th>
        <th>
            @Localization.Exchange
        </th>
        <th>
            @Localization.Image
        </th>
        <th>
            @Localization.AccountGuid
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exchange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountGuid)
        </td>
        <td>
            @Html.ActionLink(Localization.Edit, "Edit", new { id=item.ShopId }) |
            @Html.ActionLink(Localization.Details, "Details", new { id=item.ShopId }) |
            @Html.ActionLink(Localization.Delete, "Delete", new { id=item.ShopId })
        </td>
    </tr>
}

</table>
