@using Seller.Utils
@model Seller.Models.Producer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Producer</legend>

    Name: @Html.DisplayFor(model => model.Name)<br/>
    Site: @Html.DisplayFor(model => model.Site)<br/>
    used @ViewBag.CountUsed times
    <br/>
    <img alt="logo" src="/Content/Images/Producers/@Model.LogoPath"/>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        @Html.HiddenFor(model => model.ProducerId)
        <input type="submit" value="Delete" /> |
        @if (Helper.Roles.ModeratorRoles.Any(role => User.IsInRole(role)))
        {
            @Html.ActionLink("Back to index", "Index")
            @:|
        }
        @Html.ActionLink("Back to products", "RedirectedBack", "Products")
    </p>
}