@using Seller.Utils
@using ViewRes
@model Seller.Models.Producer

@{
    ViewBag.Title = Localization.Delete;
}

<h2>@Localization.Delete</h2>

<h3>@Localization.SureDeleteProducer</h3>
<fieldset>
    <legend>@Localization.Producer</legend>

    @Localization.Name: @Html.DisplayFor(model => model.Name)<br/>
    @Localization.Site: @Html.DisplayFor(model => model.Site)<br/>
    @String.Format(Localization.used_count_times, ViewBag.CountUsed)
    <br/>
    <img alt="logo" src="/Content/Images/Producers/@Model.LogoPath"/>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        @Html.HiddenFor(model => model.ProducerId)
        <input type="submit" value="@Localization.Delete" /> |
        @if (Helper.Roles.ModeratorRoles.Any(role => User.IsInRole(role)))
        {
            @Html.ActionLink(Localization.Back_to_producers, "Index")
            @:|
        }

        @Html.ActionLink(Localization.Back_to_products, "RedirectedBack", "Products")
    </p>
}