@using Seller.Utils
@using ViewRes
@model Seller.Models.Producer

@{
    ViewBag.Title = Localization.Details;
}

<h2>@Localization.Details</h2>

<fieldset>
    <legend>Producer</legend>
    @Localization.Name: @Html.DisplayFor(model => model.Name)<br/>
    @Localization.Site: @Html.DisplayFor(model => model.Site)<br/>
    <br/>
    <img alt="logo" src="/Content/Images/Producers/@Model.LogoPath"/>
</fieldset>
<p>
    @if (Helper.Roles.TrustedRoles.Any(role => User.IsInRole(role)))
    {
        @Html.ActionLink(Localization.Edit, "Edit", new {id = Model.ProducerId})
        @: |
    }
    @if (Helper.Roles.ModeratorRoles.Any(role => User.IsInRole(role)))
    {
        @Html.ActionLink(Localization.Delete, "Delete", new {id = Model.ProducerId})
        @: |
    }

    @Html.ActionLink(Localization.Back_to_products, "RedirectedBack", "Products")
</p>