@using Seller.Utils
@model Seller.Models.Producer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Producer</legend>

    Name: @Html.DisplayFor(model => model.Name)<br/>
    Site: @Html.DisplayFor(model => model.Site)<br/>
    <br/>
    <img alt="logo" src="/Content/Images/Producers/@Model.LogoPath"/>
</fieldset>
<p>
    @if (Helper.Roles.TrustedRoles.Any(role => User.IsInRole(role)))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.ProducerId})
        @: |
    }
    @if (Helper.Roles.ModeratorRoles.Any(role => User.IsInRole(role)))
    {
        @Html.ActionLink("Delete", "Delete", new {id = Model.ProducerId})
        @: |
    }
    @Html.ActionLink("Back to products", "RedirectedBack", "Products")
</p>