@using Seller.Models
@using ViewRes
@model IEnumerable<Seller.Models.Producer>

@{
    ViewBag.Title = Localization.Index;
}

<h2>@Localization.Index</h2>

<p>
    @Html.ActionLink(Localization.Create_New, "Create") |
    @Html.ActionLink(Localization.Back_to_products, "RedirectedBack", "Products")
</p>
<table>
    <tr>
        <th>
            @Localization.Name
        </th>
        <th>
            @Localization.Site
        </th>
        <th>
            @Localization.Logo
        </th>
        <th></th>
    </tr>

    @foreach (Producer item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                <img alt="@Localization.Logo" class="gallery" src="/Content/Images/Producers/@item.LogoPath"/>
            </td>
            <td>
                @Html.ActionLink(Localization.Edit, "Edit", new {id = item.ProducerId}) |
                @Html.ActionLink(Localization.Delete, "Delete", new { id = item.ProducerId })
            </td>
        </tr>
    }

</table>