@using System.Globalization
@using Seller.Models
@using ViewRes
@model Seller.Models.Product

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<p>@Localization.Type: @Model.Category.Name</p>
<p>@Localization.Producer: @Model.Producer.Name</p>
<p>@Model.Description</p>
@foreach (Image a in Model.Images)
{
    <img alt="@Localization.Image" src="/Content/Images/Products/@a.Path" class="gallery" />
}
<div class="clear">
    @if (Request.RequestType.ToUpper() == "GET")
    {
        <p><a href="/Products/RedirectedBack">@Localization.Back</a></p>
    }
    @if (Model.Offers.Count != 0)
    {
        foreach (Offer a in Model.Offers.OrderByDescending(offer => offer.LastUpdate))
        {
            <div class="maxWidth offerPanel">
                @{ int rub = a.Price*a.Shop.Exchange; }
                <span class="bold">@Localization.Price: @a.Price $, @rub rub</span><br/>
                <img alt="logo" src="/Content/Images/Shops/@a.Shop.Image"/>
                <div class="bold shop_name maxWidth">@a.Shop.Name</div>
                @if (!String.IsNullOrWhiteSpace(a.Shop.Phone))
                {
                    @Localization.Phone@:: @a.Shop.Phone<br/>
                }
                @if (!String.IsNullOrWhiteSpace(a.Shop.Site))
                {
                    @Localization.Site@:: @a.Shop.Site<br/>
                }
                @Localization.Email: @a.Shop.Email<br/>
                @if (!String.IsNullOrWhiteSpace(a.Shop.Adress))
                {
                    @Localization.Address@:: @a.Shop.Adress<br/>
                }
                @Localization.Last_update: @a.LastUpdate.ToString(CultureInfo.InvariantCulture)<br/><br/>
                <div class="maxWidth description">
                    @if (!String.IsNullOrWhiteSpace(a.Shop.Description))
                    {
                        @a.Shop.Description<br/>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>@Localization.noOffers</p>
    }
</div>