@using System.Globalization
@using Seller.Controllers
@using Seller.Models
@using Seller.Utils
@model PagedList.IPagedList<Seller.Models.Product>
@{
    ViewBag.Title = "Catalog";
    int shopId = -1;
    bool isUserModerator = Helper.Roles.ModeratorRoles.Any(role => User.IsInRole(role));
    bool isTrustedUser = isUserModerator || Helper.Roles.TrustedRoles.Any(role => User.IsInRole(role));
    if (Session[Helper.ShopId] != null)
    {
        shopId = (int) Session[Helper.ShopId];
    }
}

<h2>Catalog</h2>

<script type="text/javascript" src="/Scripts/ajaxSetup.js"> </script>
<script type="text/javascript" src="/Scripts/approve.js"> </script>
<script type="text/javascript" src="/Scripts/browseProductAjax.js"> </script>

@using (Html.BeginForm("Index", "Products", FormMethod.Get, new {id = "indexForm"}))
{
    <input type="hidden" name="sortOrder" value="@ViewBag.Order"/>
    <input type="hidden" name="pageSize" value="@Model.PageSize"/>
    <input type="text" name="filter" value="@ViewBag.filter"/>
    @Html.DropDownList("category", (IEnumerable<SelectListItem>) ViewBag.categories, Helper.EmptySelectItem,
                       new
                           {
                               onchange = "document.getElementById('indexForm').submit()"
                           })
    <noscript><input type="submit" value="Filter" /></noscript>
    if (Helper.Roles.AllRoles.Any(role => User.IsInRole(role)))
    {
        <p>
            @Html.ActionLink("Create New", "Create", "ProductManager")
        </p>
    }
    <table class="maxWidth">
        <thead>
            <tr>
                <th>@Html.ActionLink("Name", "Index", new {pageSize = Model.PageSize, ViewBag.category, sortOrder = ViewBag.NameOrder})
                    @if (ViewBag.Order == ProductsController.SortOrderName)
                    {
                        <img alt="asc" src="/Content/Images/Style/Asc.png"/>
                    }
                    else if (ViewBag.Order == ProductsController.SortOrderNameDescending)
                    {
                        <img alt="asc" src="/Content/Images/Style/Desc.png"/>
                    }
                </th>
                @if (ViewBag.category == null)
                {
                    <th>Category</th>
                }
                <th>Producer</th>
                <th>Description</th>
                <th>@Html.ActionLink("Price", "Index", new {pageSize = Model.PageSize, ViewBag.category, sortOrder = ViewBag.Priceorder})
                    @if (ViewBag.Order == ProductsController.SortOrderPrice)
                    {
                        <img alt="asc" src="/Content/Images/Style/Asc.png"/>
                    }
                    else if (ViewBag.Order == ProductsController.SortOrderPriceDescending)
                    {
                        <img alt="asc" src="/Content/Images/Style/Desc.png"/>
                    }
                </th>
                @if (shopId != -1)
                {
                    <th>
                        Offer
                    </th>
                }
                @if (isTrustedUser)
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                string approvedName = product.Approved ? "approved" : "notApproved";
                <tr class="@approvedName">
                    <td><a href="/Products/BrowseProduct?id=@product.ProductId" class="product_name" data-id="@product.ProductId">@product.Name</a></td>
                    @if (ViewBag.category == null)
                    {
                        <td>@product.Category.Name</td>
                    }
                    <td><a href="/Producer/Details/@product.ProducerId">@product.Producer.Name</a></td>
                    <td>@product.Description</td>
                    <td class="nowrap">
                        @if (product.Offers.Count > 0)
                        {
                            @product.Offers.Min(offer => offer.Price)
                            @:-
                            @product.Offers.Max(offer => offer.Price)
                        }
                    </td>
                    @if (shopId != -1)
                    {
                        <td>
                            @{
                                Offer off = product.Offers.SingleOrDefault(offer => offer.ShopId == shopId);
                                if (off != null)
                                {
                                    @Html.ActionLink(off.Price.ToString(CultureInfo.InvariantCulture), "Edit", "Offer", new {productId = product.ProductId, shopId}, null)
                                }
                                else
                                {
                                    @Html.ActionLink("NONE", "Create", "Offer", new {productId = product.ProductId, shopId}, null)
                                }
                            }
                        </td>
                    }
                    @if (isTrustedUser)
                    {
                        <td>
                            @if (isUserModerator)
                            {
                                string url = @String.Format("/ProductManager/SetApproved?id={0}&approved={1}", product.ProductId, !product.Approved);
                                <a class="approve_link" href="@url">@(product.Approved ? "Disapprove" : "Approve")</a>
                                <br/>
                                <a href="/ProductManager/Edit?id=@product.ProductId">Edit</a>
                                <br/>
                                <a href="/ProductManager/Delete?id=@product.ProductId">Delete</a>
                            }
                            else
                            {
                                <a href="/ProductManager/Edit?id=@product.ProductId">Edit</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <!-- Paging -->
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
     
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", new {ViewBag.filter, ViewBag.category, page = 1, pageSize = Model.PageSize, sortOrder = ViewBag.Order})
            @Html.Raw(" ")
            @Html.ActionLink("< Prev", "Index", new {ViewBag.filter, ViewBag.category, page = Model.PageNumber - 1, pageSize = Model.PageSize, sortOrder = ViewBag.Order})
        }
        else
        {
            @Html.Raw("<< < Prev")
        }
     
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "Index", new {ViewBag.filter, ViewBag.category, page = Model.PageNumber + 1, pageSize = Model.PageSize, sortOrder = ViewBag.Order})
            @Html.Raw(" ")
            @Html.ActionLink(">>", "Index", new {ViewBag.filter, ViewBag.category, page = Model.PageCount, pageSize = Model.PageSize, sortOrder = ViewBag.Order})
        }
        else
        {
            @Html.Raw("Next > >>")
        }
    </div>
    <div>
        <p>Users per page:
            @Html.ActionLink("5", "Index", new {pageSize = 5, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("10", "Index", new {pageSize = 10, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("20", "Index", new {pageSize = 20, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("50", "Index", new {pageSize = 50, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("All", "Index", new {pageSize = 0, ViewBag.category, sortOrder = ViewBag.Order})
        </p>
    </div>
}
<div id="productBrowse" />