@using Seller
@using Seller.Controllers
@using Seller.Models
@model PagedList.IPagedList<Seller.Models.Product>
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

<script type="text/javascript">
    $(function() {
        $(".product_name").click(function() {
            var recordId = $(this).attr("data-id");
            if (recordId != '') {
                $.post("/Products/BrowseProduct", { "id": recordId },
                    function(product) {
                        var dataDiv = $("#productBrowse");
                        dataDiv.empty();
                        dataDiv.append("<h2>" + product.Name + "</h2>");
                        dataDiv.append("<p>Type: " + product.Type + "</p>");
                        dataDiv.append("<p>Producer: " + product.Producer + "</p>");
                        dataDiv.append("<p>" + product.Description + "</p>");
                        for (var i = 0; i < product.Images.length; i++) {
                            dataDiv.append("<img alt=\"Picture\" src=\"/Content/Images/Products/" + product.Images[i] + "\" class=\"gallery\" />");
                        }
                        var offersDiv = jQuery('<div/>', {
                            class: 'clear',
                        });
                        if (product.Offers.length == 0) {
                            offersDiv.append("<p>No offers of this product</p>");
                        } else {
                            var appendTable = "<table class=\"maxWidth\"><thead><tr><th>Price</th><th>Logo</th><th>Name</th><th>Phone</th><th>Site</th><th>E-mail</th><th>Description</th><th>Address</th><th>Last Updated</th></tr></thead><tbody>";
                            var offers = product.Offers;
                            for (i = 0; i < offers.length; i++) {
                                var rub = offers[i].Price * offers[i].Exchange;
                                appendTable += "<tr><td class=\"nowrap\">" + offers[i].Price + "$ <br/>" + rub + "</td>";
                                appendTable += "<td><img class=\"gallery\" alt=\"logo\" src=\"/Content/Images/Shops/" + offers[i].Logo + "\"/></td>";
                                appendTable += "<td>" + offers[i].Name + "</td>";
                                appendTable += "<td class=\"nowrap\">" + offers[i].Phone + "</td>";
                                appendTable += "<td class=\"nowrap\">" + offers[i].Site + "</td>";
                                appendTable += "<td class=\"nowrap\">" + offers[i].Email + "</td>";
                                appendTable += "<td>" + offers[i].Description + "</td>";
                                appendTable += "<td>" + offers[i].Adress + "</td>";
                                appendTable += "<td>" + offers[i].LastUpdate + "</td></tr>";
                            }
                            appendTable += "</tbody></table>";
                            offersDiv.append(appendTable);
                        }
                        offersDiv.appendTo(dataDiv);

                    });
            }
            return false;
        });
    });
</script>

@using (Html.BeginForm("Index", "Products", FormMethod.Get, new {id = "indexForm"}))
{
    <input type="hidden" name="sortOrder" value="@ViewBag.Order"/>
    <input type="hidden" name="pageSize" value="@Model.PageSize"/>
    @Html.DropDownList("category", (IEnumerable<SelectListItem>) ViewBag.categories,
                       new
                           {
                               onchange = "document.getElementById('indexForm').submit()"
                           })
    if (Helper.Roles.RolesArray.Any(role => User.IsInRole(role)))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="maxWidth">
        <thead>
            <tr>
                <th>@Html.ActionLink("Name", "Index", new {pageSize = Model.PageSize, ViewBag.category, sortOrder = ViewBag.NameOrder})
                    @if (ViewBag.Order == ProductsController.SortOrderName)
                    {
                        <img alt="asc" src="/Content/Images/Style/Asc.png"/>
                    }
                    else if (ViewBag.Order == ProductsController.SortOrderNameDescending)
                    {
                        <img alt="asc" src="/Content/Images/Style/Desc.png"/>
                    }
                </th>
                @if (ViewBag.category == null)
                {
                    <th>Category</th>
                }
                <th>Producer</th>
                <th>Description</th>
                <th>@Html.ActionLink("Price", "Index", new {pageSize = Model.PageSize, ViewBag.category, sortOrder = ViewBag.Priceorder})
                    @if (ViewBag.Order == ProductsController.SortOrderPrice)
                    {
                        <img alt="asc" src="/Content/Images/Style/Asc.png"/>
                    }
                    else if (ViewBag.Order == ProductsController.SortOrderPriceDescending)
                    {
                        <img alt="asc" src="/Content/Images/Style/Desc.png"/>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td><a href="/Products/BrowseProduct?id=@product.ProductId" class="product_name" data-id="@product.ProductId">@product.Name</a></td>
                    @if (ViewBag.category == null)
                    {
                        <td>@product.Category.Name</td>
                    }
                    <td>@product.Producer.Name</td>
                    <td>@product.Description</td>
                    <td class="nowrap">@product.Offers.Min(offer => offer.Price) - @product.Offers.Max(offer => offer.Price)</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Paging -->
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
     
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "Index", new {page = 1, pageSize = Model.PageSize})
            @Html.Raw(" ")
            @Html.ActionLink("< Prev", "Index", new {page = Model.PageNumber - 1, pageSize = Model.PageSize})
        }
        else
        {
            @Html.Raw("<< < Prev")
        }
     
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "Index", new {page = Model.PageNumber + 1, pageSize = Model.PageSize})
            @Html.Raw(" ")
            @Html.ActionLink(">>", "Index", new {page = Model.PageCount, pageSize = Model.PageSize})
        }
        else
        {
            @Html.Raw("Next > >>")
        }
    </div>
    <div>
        <p>Users per page:
            @Html.ActionLink("5", "Index", new {pageSize = 5, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("10", "Index", new {pageSize = 10, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("20", "Index", new {pageSize = 20, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("50", "Index", new {pageSize = 50, ViewBag.category, sortOrder = ViewBag.Order})
            @Html.ActionLink("All", "Index", new {pageSize = 0, ViewBag.category, sortOrder = ViewBag.Order})
        </p>
    </div>
}
<div id="productBrowse" />